:root {
	--yellow: #fce279;
	--mint: #ebfff2;
	--purple: rgb(143, 109, 187);
	--light-purple: #f2ebf2;
	--shadow: #545354;
	--blue: rgb(144, 207, 242);
	--hover-shadow: rgba(0,0,0,0.2);
}

* {
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
  font-family: 'Baloo','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: var(--mint);
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}

h1 {
	color: var(--purple);
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--yellow);
	overflow-y: auto;
	overflow-x: auto;
	width: 90%;
	height: 90%;
}

.welcome {
	align-items: center;
  width: 75%;
	margin: auto;
	margin-top: 10%;
  margin-bottom: 10%;
	padding: 10%;
  background-color: var(--light-purple);
	box-shadow: 10px 5px var(--shadow);
	text-align: center;
}

.btn, button {
	background-color: var(--blue);
	border: none;
	color: white;
	padding: 15px 32px;
	border-radius: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 1%;
}

.btn:hover, button:hover {
	box-shadow: 0 17px 50px 0 var(--hover-shadow);
}

.btn:focus, button:focus {
	outline: 0;
}

/* Timer and Score */

.score-timer-bar {
	background-color: var(--yellow);
}

.counters {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.counter {
	text-align: center;
	padding: 2px;
}

/* Game Container */

.game-container {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--yellow);
	margin: auto;
	padding: 2%;
}

.game-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 3%;
}

.game-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	align-items: center;
	background-image: url(assets/bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#box-1 { grid-area: 1 / 3 / 2 / 4; }
#box-2 { grid-area: 2 / 3 / 3 / 4; }
#box-3 { grid-area: 1 / 1 / 2 / 2; }
#box-4 { grid-area: 1 / 2 / 2 / 3; }
#box-5 { grid-area: 2 / 1 / 3 / 2; }
#box-6 { grid-area: 2 / 2 / 3 / 3; }

.box {
	width: 200px;
	height: 200px;
	float: left;
	position: relative;
	overflow: hidden;
}

.cough-pic {
	position: absolute;
	width: 100px;
	left: 25%;
	bottom: 0;
}

.virus-pic {
	position: absolute;
	width: 90px;
	right: 30%;
	bottom: 0;
  transition: right 0.5s ease;
}

.virus-pic.up {
	right: 0;
}

.virus-pic.whacked {
	width: 40%;
}

/* Mobile */

@media only screen and (max-width: 980px) {
  .container, .wrapper, .game-container {
		width: fit-content;
	}
}