* {
	box-sizing: border-box;
  }

body {
	margin: 0;
	padding: 0;
	font-family: 'Baloo 2', cursive;
	font-weight: 300;
}

.wrapper {
	width: 800px;
	padding: 30px;
	margin: 30px auto;
	border: 3px solid black;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}


/* Timer and Score */
#counters-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.counters {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

/* Game Container */

.game-container {
	width: 600px;
	margin: 30px auto;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.box {
	width: 200px;
	height: 200px;
	padding: 10px;
	float: left;
	position: relative;
	overflow: hidden;
}

.virus-pic {
	width: 80px;
	position: absolute;
	left: 50px;
	bottom: -85px;
    transition: bottom 0.5s ease;
    padding: 5px;
	width: 150px;
}

.virus-pic.up {
	bottom: 0;
}

.cough-pic {
	position: absolute;
	bottom: 0;
	left: 0;
    z-index: 9999;
    padding: 5px;
	width: 100px;
}

.mask {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background-color: white;
	z-index: 5000;
}